<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Following are the titles of given websites:</h1>
    <ul>
        <% for(let i=0;i<address.length;i++){ %>
             <li> 
                <%=address[i]%>  :  
                <%=titles[i] %>
                <%} %>
            </li> 
   </ul>
</body>
</html>